.display-table {
  width: 800px;
}

.page-links svg{
  display: inline;
  height: 15px;
}

.display-table td, th {
  border: 1px solid $light_purple;
  text-align: left;
  padding: 6px;
}

tr:nth-child(even) {
  background-color: $light_purple;
}

.form-control {
    width: 300px;
    font-size: 30px;
    align-content: center;
}

.display-table button {
  background-color: transparent;
  color: $grey;
}

.display-table button:hover {
  background-color: transparent;
}
